@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --first-color: #12192c;
    --text-color: #757575;

    --body-font: 'Roboto', sans-serif;
    --big-font-size: 2rem;
    --normal-font-size: .938rem;
    --smaller-font-size: .875rem;
}

@media screen and (min-width: 768px) {
    :root {
        --big-font-size: 2.5rem;
        --normal-font-size: 1rem;
    }
}

*,::before,::after { box-sizing: border-box; }

body {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    color: var(--first-color);
    background-color: #f4f7fc;
    height: 100vh;
}

h1 { margin: 0; }
a { text-decoration: none; }
img { max-width: 100%; height: auto; }

.l-form {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #e3e6ef, #ffffff);
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 80%;
    max-width: 1000px;
}

.form-img {
   max-width: 70%;
   height: auto;
}
.form {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.form-content { width: 320px; }

.form-title {
    font-size: var(--big-font-size);
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
    color: var(--first-color);
}

.form-div {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;
    padding: 1.1rem 0;
    border-bottom: 2px solid var(--text-color);
    transition: 0.3s;
}

.form-div.focus { border-bottom: 2px solid var(--first-color); }

.form-icon { 
    font-size: 1.5rem; 
    color: var(--text-color);
    margin-right: 0.75rem;
    transition: .3s; 
}

.form-div.focus .form-icon { color: var(--first-color); }

.form-label {
    position: absolute;
    top: -0.35rem;
    font-size: var(--normal-font-size);
    color: var(--text-color);
    transition: .3s;
}

.form-div.focus .form-label {
    top: -1rem;
    font-size: .875rem;
    color: var(--first-color);
}

.form-input {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    padding: -0.75rem !important;
    font-size: 1rem;
    color: var(--first-color);
    transition: .3s;
}

.form-select {
    width: 100%;
    margin: 10px;
    padding: 0.75rem;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    background: none;
    font-size: 1rem;
    color: var(--first-color);
    cursor: pointer;
}

.form-forgot {
    display: block;
    text-align: right;
    margin-bottom: 1.5rem;
    font-size: var(--normal-font-size);
    color: var(--text-color);
    font-weight: 500;
    transition: .3s;
}

.form-forgot:hover { color: var(--first-color); }

.form-button {
    width: 100%;
    padding: 1rem;
    font-size: var(--normal-font-size);
    outline: none;
    border: none;
    background-color: var(--first-color);
    color: #fff;
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
}

.form-button:hover { box-shadow: 0px 10px 20px rgba(0, 0, 0, .1); }

@media screen and (min-width: 968px) {
    .form-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .form {
        width: 100%;
    }
    
    .form-img {
        width: 100%;
    }
}
